<p style="font-family: 'Roboto Condensed', Helvetica, Arial, serif;">Titles: 'Roboto Condensed', Helvetica, Arial, serif;</p>
<p style="font-family: Georgia, serif;" >Body: Georgia, serif;</p>
<p style="font-family: 'Bree Serif', Times, 'Times New Roman', serif;" >Alt: 'Bree Serif', Times, 'Times New Roman', serif;</p>
