<ul class="icons inline-list">
	<li class="icon-location"></li>
	<li class="icon-group"></li>
	<li class="icon-mail"></li>
	<li class="icon-tools"></li>
	<li class="icon-rocket"></li>
	<li class="icon-earth"></li>
	<li class="icon-keyboard"></li>
	<li class="icon-pie"></li>
	<li class="icon-plus"></li>
	<li class="icon-list"></li>
	<li class="icon-github"></li>
	<li class="icon-twitter"></li>
	<li class="icon-facebook"></li>
	<li class="icon-googleplus"></li>
</ul>
