<img src="../../images/favicons/apple-touch-icon-144x144.png" title="Apple large icon"/>
<img src="../../images/favicons/favicon-196x196.png" title="Large PNG favicon"/>
<span class="ms-tile">
  <img src="../../images/favicons/mstile-144x144.png" title="Medium Microsoft tile"/>
</span>
