/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
  //background: $green;
  @include background-image(linear-gradient($green, darken($green, 5%)));
  color: $white;
  line-height: 1;
  padding: 0.5rem 1rem;
  border: 0;
  font-family: $font-secondary;
  text-align: center;
  font-size: 0.85rem;
  border-radius: 5px;
  box-shadow: 0 0 3px darken($green, 10%);
  font-weight: 300;
  @include transition(box-shadow 0.2s ease-out);

	&:hover, &:focus {
		box-shadow: 0 0 10px 1px $green;
	}

	&.disabled {
		background: $gray-light-2;
		color: $gray-light-4;
    box-shadow: 0 0 3px darken($gray, 10%);
	}

  &.alt {

  }
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $gray;
	font-size: 1.4rem;
	font-weight: normal;
}
